extends ../mail_template.pug

block mainContent
    -
        var textStyles = {
            "font-size": "16px",
            "line-height": "20px",
            "padding": "10px 10px 10px 10px",
            "color": "#666666",
            "font-family": "Roboto, sans-serif"
        }

    p(style=textStyles) Hi #{name},
    p(style=textStyles) To reset your password, please click on the following #[a(href=link target="_blank") #{link}].
    p(style=textStyles) If you did not request a password reset, you can safely ignore this email.


